$fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$background: white;
$dark-grey: #666;
$light-grey: #dddddd;
$primary: #ff7a4e;
$secondary: #4e7aff;
$highlight: #ffc74e;
$l-font-size: 30px;
$m-font-size: 18px;
$s-font-size: 12px;
$std-margin: 20px;

body {
    color: $dark-grey;
    font-family: $fonts;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: $light-grey;
    height: 50px;
    width: 100%;

    ul {
        background-color: $dark-grey;
        display: flex;
        height: 46px;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
    }

    p {
        color: $background;
        background-color: $primary;
        font-size: $l-font-size;
        line-height: 46px;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        text-decoration: none;
    }

    a {
        color: $background;
        display: block;
        font-size: 17px;
        line-height: 43px;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 3px;
        text-align: center;
        text-decoration: none;
    }

    li a:hover {
        background-color: $secondary;
    }
}

#messages {
    background-color: $highlight;
    width: 100%;

    p {
        color: $dark-grey;
        height: 30px;
        font-size: $m-font-size;
        line-height: 30px;
        margin: 0;
        padding-left: 20px;
    }
}

#content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .break {
        flex-basis: 100%;
        height: 0;
    }
}

#controls {
    margin-bottom: 0;
    margin-left: $std-margin;
    margin-right: 0;
    margin-top: $std-margin;

    button {
        background-color: $primary;
        border: none;
        border-radius: 6px;
        color: white;
        // display: inline-block;
        float: left;
        font-size: $m-font-size;
        line-height: 40px;
        margin-left: 0;
        margin-right: 8px;
        margin-bottom: $std-margin;
        text-align: center;
        text-decoration: none;
        width: 93px;
      }
}

#advanced {
    margin-bottom: 0;
    margin-left: $std-margin;
    margin-right: 0;
    margin-top: $std-margin;
    width: 200px;
}

#game {
    background-color: $background;
}

#grid {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    height: 395px;
    margin-bottom: 0;
    margin-left: $std-margin;
    margin-right: 0;
    margin-top: $std-margin;
    // width: 378px;
    
    td {
        border: 1px solid $light-grey;
    }
    
    .cell input {
        border: 0;
        color: $dark-grey;
        display: inline-block;
        font-size: $l-font-size;
        height: 40px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 40px;
    }

    .invalid {
        background-color: $highlight;
    }
    td:first-child {
        border-left: 3px solid $dark-grey;
    }
    td:nth-child(3n) {
        border-right: 3px solid $dark-grey;
    }
    tr:first-child {
        border-top: 3px solid $dark-grey;
    }
    tr:nth-child(3n) {
        border-bottom: 3px solid $dark-grey;
    }
}

#footer {
    background-color: $light-grey;
    color: $dark-grey;
    font-size: $s-font-size;
    line-height: 24px;
    padding-left: 20px;
    width: 100%;
}

