$fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$background: white;
$dark-grey: #666;
$light-grey: #dddddd;
$primary: #ff7a4e;
$secondary: #4e7aff;
$highlight: #ffc74e;
$l-font-size: 30px;
$m-font-size: 18px;
$s-font-size: 12px;
$std-margin: 20px;
$min-grid-size: 300px;
$max-grid-size: 600px;
$thin-border: 1px;
$thick-border: 3px;

body {
    color: $dark-grey;
    font-family: $fonts;
}

#navbar {
    background-color: $light-grey;
    height: 50px;
    width: 100%;

    ul {
        background-color: $dark-grey;
        display: flex;
        height: 46px;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
    }

    p {
        color: $background;
        background-color: $primary;
        font-size: $l-font-size;
        line-height: 46px;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        text-decoration: none;
    }
}

#errors {
    background-color: $highlight;
    width: 100%;
    // display: none;

    p {
        color: $dark-grey;
        height: 30px;
        font-size: $m-font-size;
        line-height: 30px;
        margin: 0;
        padding-left: 20px;
    }
}

#content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#interface {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#grid {
    max-width: $max-grid-size;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: $std-margin;

    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    tbody {
        bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    tr {
        border: 0;
        display: flex;
        padding: 0;
        flex-wrap: nowrap;
        flex-grow: 1;
    }
    
    td {
        border-bottom: $thin-border solid $light-grey;
        border-left: $thin-border solid $light-grey;
        flex-grow: 1;
    }
    
    .cell input {
        border: 0;
        color: $dark-grey;
        font-size: $l-font-size;
        height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .invalid {
        background-color: $highlight;
    }
    td:first-child {
        border-left: $thick-border solid $dark-grey;
    }
    td:nth-child(3n) {
        border-right: $thick-border solid $dark-grey;
    }
    tr:first-child {
        border-top: $thick-border solid $dark-grey;
    }
    tr:nth-child(3n) {
        border-bottom: $thick-border solid $dark-grey;
    }
}

#advanced {
    margin: $std-margin;
    width: 30%;
    min-width: 300px;

    h2 {
        margin: 0;
        margin-bottom: $std-margin;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        padding-bottom: 0;
        cursor: pointer;
        line-height: 25px;
        font-size: $m-font-size;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $background;
    }

    .container:hover input ~ .checkmark {
        background-color: $dark-grey;
    }

    .container input:checked ~ .checkmark {
        background-color: $secondary;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .container input:checked ~ .checkmark:after {
        display: block;
    }

    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 0;
    margin: $std-margin;
    max-width: $max-grid-size;
    width: 100%;
    
    button {
        background-color: $primary;
        border: none;
        border-radius: 6px;
        color: white;
        font-size: $m-font-size;
        flex-grow: 1;
        line-height: 40px;
        margin-left: 2px;
        margin-right: 2px;
        text-align: center;
        text-decoration: none;
      }
}

#logs {
    border: $thin-border solid $dark-grey;
    margin: $std-margin;
    padding-left: $std-margin;
    padding-right: $std-margin;
    width: 100%;
    max-width: calc(#{$max-grid-size} - 2*#{$std-margin});
}

#footer {
    background-color: $light-grey;
    color: $dark-grey;
    font-size: $s-font-size;
    line-height: 24px;
    padding-left: 20px;
    margin: 0;
    // display: None;
}

