<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Sudo Sudoku</title>
    {% endblock %}
</head>
<body>
    <div id="navbar">
        <ul>
            <li><p>Sudo&nbsp;Sudoku</p></li>
        </ul>
    </div>
    {% if grid is not defined or grid is none%}
    {% set grid = {} %}
    {% endif %}
    {% if invalid is not defined or invalid is none %}
    {% set invalid = [] %}
    {% endif %}
    {% if errors is defined and errors is not none %}
    <div id="messages">
        {% for err in errors %}
        <p>{{ err }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form id="interface" action="/solve" method="post">
    <div id="content">
        <table id="grid" style="border-collapse: collapse;">
        {% for row in 'ABCDEFGHJ' %}
        <tr class="row">
            {% for col in '123456789' %}
                {% set cell = row + col|string %}
                <td class="cell">
                    <input class="{{ 'invalid' if cell in invalid }}" 
                    type="text" name="grid_{{ cell }}" 
                    value="{{ grid.get(cell, '') }}" 
                    maxlength="1">
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <div id="advanced">
            <h2>Allowed Solvers</h2>
            {% for k, v in solvers.items() %}
                <label class="container">{{ k }}
                <input type="checkbox"
                id="{{ k }}"
                name="find_{{ k }}"
                {{ "checked" if v is true or v == "True" }}
                value="True">
                <input type="hidden" value="False" name="find_{{ k }}">
                <span class="checkmark"></span>
                </label><br>
                {% endfor %}
        </div>
        <div class="break"></div>
        <div id="controls">
            {% for action in ['step', 'solve', 'clear', 'generate'] %}
            <button type="submit" formaction="{{action}}">{{action}}</button>
            {% endfor %}
        </div>
    </div>
    </form>
    <!-- </div> -->
    <div id="footer">
        {% block footer %}
        This work is licensed under the terms of the <a href="https://opensource.org/licenses/MIT">MIT license</a><br>
        Full source is available on <a href="https://github.com/nickwood/sudo_sudoku">GitHub</a>.
        {% endblock %}
    </div>
</body>
</html>