<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Sudo Sudoku</title>
    {% endblock %}
</head>
<body>
    <div id="navbar">
        <ul>
            <li><p>Sudo&nbsp;Sudoku</p></li>
            <li><a href="/solve">Solve</a></li>
            <li><a href="/generate">Generate</a></li>
            <li><a href="/analyse">Analyse</a></li>
        </ul>
    </div>
    <div id="content">
    <form id="interface" action="/solve" method="post">
        <div id="game">
            <table id="grid" style="border-collapse: collapse;">
            {% if data == None %}
                {% for row in range(1, 10) %}
                    <tr class="row">
                    {% for col in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'] %}
                        <td class="cell"><input type="text" name="{{ col + row|string }}" maxlength="1"></td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                {% for row in range(1, 10) %}
                <tr class="row">
                    {% for col in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'] %}
                        {% set cell = col + row|string %}
                        <td class="cell"><input type="text" name="{{ cell }}" value="{{ data[cell] }}" maxlength="1"></td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
            </table>
        </div>
        <div id="controls">
            {% block controls %}{% endblock %}
            <button type="submit">solve</button>
            <!-- <button type="submit" formaction="analyse">analyse</button> -->
        </div>
    </form>
    </div>
    <div id="footer">
        {% block footer %}
        This work is licensed under the terms of the <a href="https://opensource.org/licenses/MIT">MIT license</a><br>
        Full source is available on <a href="https://github.com/nickwood/sudo_sudoku">GitHub</a>.
        {% endblock %}
    </div>
</body>
</html>